$primary: #448aff;
$secondary: #2c2c2a;
$success: #068289;
$card-bg: #fff;
$text-muted-color: #6c757d;

$sidebar-bg-color: #fff;
$sidebar-color: #6f6b6b !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #448aff !default;
$submenu-bg-color: #f7f8f9 !default;
$submenu-bg-color-collapsed: #fff !default;
$icon-bg-color: #f7f8f9 !default;

$border-radius: 4px;
